.hero{
    background-image: url(../img/bg-hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    padding-bottom: 10rem;

}
body{
    font-family: 'Raleway', sans-serif;
}

.carousel-indicators{
    top: 50px;
}
.carousel-indicators button {
    width: px;
    height:px;
    border-radius: 50%;
}